<h1>Administer your account</h1>
<form method="post" action="/users/edit_credentials">
  <div>
    <label for="pword"> Enter current password:
      <input type="pword" id="pword" name="current_pword" />
    </label>
  </div>
  <div>
    <label for="new_user_name"> Enter new username:
      <input name="new_user_name" id="new_user_name" value="<%=== session[:user_name] %>"/>*Leave unchanged if you don't wish to alter your username.
    </label>
  </div>
  <div>
    <label for="new_email"> Enter your new email address:
      <input name="new_email" id="new_email" value="<%== session[:user_email] %>"/>*Leave unchanged if you don't wish to alter your email address.
    </label>
  </div>
  <div>
    <label for="pword"> Enter new password:
      <input type="pword" id="pword" name="new_pword" />*Leave blank if you don't wish to alter your password.
    </label>
  </div>
  <div>
    <label for="reenter_pword"> Reenter new password:
      <input type="pword" id="reenter_pword" name="reenter_pword" />*Leave blank if you don't wish to alter your password.
    </label>
  </div>
  <button type="submit">Change account details</button>
  <a href='/'>Cancel</a>
</form>