	<!doctype html>
	<html lang="en-US">
	  <head>
	    <title>JRPL</title>
	    <meta charset="UTF-8">
	    <%# <link rel="stylesheet" href="/stylesheets/whitespace-reset.css"> %>
	    <link rel="stylesheet" href="/stylesheets/application.css">
	  </head>
	  <body>
	    <header>
	      <h1>Julian Rimet Prediction League</h1>
        	
        <nav>
          <a href="/">Home</a>
          <a href="/all_users_list">View all users</a>
          <% if session[:user_id] %>
            <a href="/user/edit_credentials">Administer account</a>
          <% else %>
            <a href="/users/signin">Sign In</a>
            <a href="/users/signup">Create Account</a>
          <% end %>
          <a href="/all_users_list">List of users</a>
        </nav>
        <% if session[:user_id] %>
            <form method="post" action="/users/signout">
              Signed in as <%= session[:user_name] %>.
              <button type="submit">Sign Out</button>
            </form>
        <% end %>
	    </header>
	    <main>
        <% if session[:message] %>
          <p class='message'><%= session.delete(:message) %></p>
        <% end %>
	      <%= yield %>
	    </main>
	  </body>
</html>