	<!doctype html>
	<html lang="en-US">
	  <head>
	    <title>JRPL</title>
	    <meta charset="UTF-8">
	    <%# <link rel="stylesheet" href="/stylesheets/whitespace-reset.css"> %>
	    <link rel="stylesheet" href="/stylesheets/application.css">
      <script src="/javascripts/jquery-2.1.4.js"></script>
      <script src="/javascripts/application.js"></script>
	  </head>
	  <body>
	    <header>
	      <h1>Julian Rimet Prediction League</h1>
        	
        <nav>
          <a href="/">Home</a>
          <% if session[:user_id] %>
            <a href="/users/edit_credentials">Administer account</a>
            <a href="/matches/all">View all matches</a>
            <a href="/scoreboard">View scoreboard</a>
          <% else %>
            <a href="/users/signin">Sign In</a>
            <a href="/users/signup">Create Account</a>
          <% end %>
          <% if session[:user_roles]&.include?('Admin') %>
            <a href="/users/administer_accounts">Administer users</a>
          <% end %>
        </nav>
        <% if session[:user_id] %>
            <form class="signout" method="post" action="/users/signout">
              Signed in as <%== session[:user_name] %>.
              <button type="submit">Sign Out</button>
            </form>
        <% end %>
	    </header>
	    <main>
        <% if session[:message] %>
          <p class='message'><%== session.delete(:message) %></p>
        <% end %>
	      <%== yield %>
	    </main>
	  </body>
</html>