	<!doctype html>
	<html lang="en-US">
	  <head>
	    <title>Bookle</title>
	    <meta charset="UTF-8">
	    <%# <link rel="stylesheet" href="/stylesheets/whitespace-reset.css"> %>
	    <link rel="stylesheet" href="/stylesheets/application.css">
	  </head>
	  <body>
	    <header>
	      <h1>Julian Rimet Prediction League</h1>
	    </header>
	    <main>
	      <%= yield %>
	    </main>
	  </body>
</html>