<h1>Match filter form</h1>
<form class="filter_form" action="/matches/filter" method="post">
  <p>Match status:</p>
  <input 
    type="radio" 
    id="not_locked_down" 
    name="match_status" 
    value="not_locked_down"
    <% if session[:criteria][:match_status] == 'not_locked_down' %>
    checked 
    <% end %>
  />
  <label for="not_locked_down">Not locked down</label><br>

  <input 
    type="radio" 
    id="locked_down" 
    name="match_status" 
    value="locked_down" 
    <% if session[:criteria][:match_status] == 'locked_down' %>
    checked 
    <% end %>
  />
  <label for="locked_down">Locked down</label><br>

  <input 
    type="radio" 
    id="match_status_all" 
    name="match_status" value="all" 
    <% if session[:criteria][:match_status] == 'all' || session[:criteria].nil? %>
    checked 
    <% end %>
  />
  <label for="match_status_all">All</label>

  <p>Prediction status:</p>
  <input 
    type="radio" 
    id="not_predicted" 
    name="prediction_status" 
    value="not_predicted" 
    <% if session[:criteria][:prediction_status] == 'not_predicted' %>
    checked 
    <% end %>
  />
  <label for="not_predicted">Not predicted</label><br>

  <input 
    type="radio" 
    id="predicted" 
    name="prediction_status" 
    value="predicted" 
    <% if session[:criteria][:prediction_status] == 'predicted' %>
    checked 
    <% end %>
  />
  <label for="predicted">Predicted</label><br>

  <input 
    type="radio" 
    id="prediction_status_all" 
    name="prediction_status" 
    value="all" 
    <% if session[:criteria][:prediction_status] == 'all' || session[:criteria].nil? %>
    checked 
    <% end %>
  />
  <label for="prediction_status_all">All</label>

  <p>Tournament stage:</p>
  <% @stage_names.each do |stage| %>
    <input 
      type="checkbox" 
      id="<% stage.downcase.split.join('_') %>" 
      name="<%== stage %>"
      value="tournament_stage"
      <% if session[:criteria][:tournament_stages].include?(stage) %>
      checked 
      <% end %>
    />
    <label for="<% stage.downcase.split.join('_') %>"><%== stage %></label><br>
  <% end %>
      <div>
    <input type="checkbox" id="select-all">
    <label for="final">Select/Deselect All</label>
    </div>

  <input type="hidden" name="criteria" value="<%== @criteria %>" />
  <button type="submit">Search matches</button>
<form>
