<h1>Match filter form</h1>
<form action="/matches/filter" method="post">
  <p>Match status:</p>
  <input 
    type="radio" 
    id="not_locked_down" 
    name="match_status" 
    value="not_locked_down"
    <% if session[:criteria][:match_status] == 'not_locked_down' %>
    checked 
    <% end %>
  />
  <label for="not_locked_down">Not locked down</label><br>

  <input 
    type="radio" 
    id="locked_down" 
    name="match_status" 
    value="locked_down" 
    <% if session[:criteria][:match_status] == 'locked_down' %>
    checked 
    <% end %>
  />
  <label for="locked_down">Locked down</label><br>

  <input 
    type="radio" 
    id="match_status_all" 
    name="match_status" value="all" 
    <% if session[:criteria][:match_status] == 'all' || session[:criteria].nil? %>
    checked 
    <% end %>
  />
  <label for="match_status_all">All</label>

  <p>Prediction status:</p>
  <input 
    type="radio" 
    id="not_predicted" 
    name="prediction_status" 
    value="not_predicted" 
    <% if session[:criteria][:prediction_status] == 'not_predicted' %>
    checked 
    <% end %>
  />
  <label for="not_predicted">Not predicted</label><br>

  <input 
    type="radio" 
    id="predicted" 
    name="prediction_status" 
    value="predicted" 
    <% if session[:criteria][:prediction_status] == 'predicted' %>
    checked 
    <% end %>
  />
  <label for="predicted">Predicted</label><br>

  <input 
    type="radio" 
    id="prediction_status_all" 
    name="prediction_status" 
    value="all" 
    <% if session[:criteria][:prediction_status] == 'all' || session[:criteria].nil? %>
    checked 
    <% end %>
  />
  <label for="prediction_status_all">All</label>

  <p>Tournament stage:</p>
  <input 
    type="checkbox" 
    id="group_stages" 
    name="Group Stages" 
    value="tournament_stage"
    <% if session[:criteria][:tournament_stages].include? 'Group Stages' %>
    checked 
    <% end %>
  />
  <label for="not_predicted">Group Stages</label><br>

  <input 
    type="checkbox" 
    id="round_of_16" 
    name="Round of 16" 
    value="tournament_stage" 
    <% if session[:criteria][:tournament_stages].include? 'Round of 16' %>
    checked 
    <% end %>
  />
  <label for="round_of_16">Round of 16</label><br>

  <input 
    type="checkbox" 
    id="quarter_finals" 
    name="Quarter Finals" 
    value="tournament_stage" 
    <% if session[:criteria][:tournament_stages].include? 'Quarter Finals' %>
    checked 
    <% end %>
  />
  <label for="quarter_finals">Quarter Finals</label><br>

  <input 
    type="checkbox" 
    id="semi_finals" 
    name="Semi Finals" 
    value="tournament_stage"
    <% if session[:criteria][:tournament_stages].include? 'Semi Finals' %>
    checked 
    <% end %>
  />
  <label for="semi_finals">Semi Finals</label><br>

  <input 
    type="checkbox" 
    id="3_4_play_off" 
    name="Third Fourth Place Play-off" 
    value="tournament_stage" 
    <% if session[:criteria][:tournament_stages].include? 'Third Fourth Place Play-off' %>
    checked 
    <% end %>
  />
  <label for="3_4_play_off">Third Fourth Place Play-off</label><br>

  <input 
    type="checkbox" 
    id="final" 
    name="Final" 
    value="tournament_stage"
    <% if session[:criteria][:tournament_stages].include? 'Final' %>
    checked 
    <% end %>
  />
  <label for="final">Final</label><br>

  <input type="hidden" name="criteria" value="<%= @criteria %>" />
  <button type="submit">Search matches</button>
<form>