<h1>Match search form</h1>
<form >
  <p>Match status:</p>
  <input type="radio" id="not_locked_down" name="match_status" value="not_locked_down">
  <label for="not_locked_down">Not locked down</label><br>
  <input type="radio" id="locked_down" name="match_status" value="locked_down">
  <label for="locked_down">Locked down</label><br>
  <input type="radio" id="match_status_all" name="match_status" value="match_status_all" checked>
  <label for="match_status_all">All</label>

  <p>Prediction status:</p>
  <input type="radio" id="not_predicted" name="prediction_status" value="not_predicted">
  <label for="not_predicted">Not predicted</label><br>
  <input type="radio" id="predicted" name="prediction_status" value="predicted">
  <label for="predicted">Predicted</label><br>
  <input type="radio" id="preduction_status_all" name="prediction_status" value="prediction_status_all" checked>
  <label for="prediction_status_all">All</label>

  <p>Tournament stage:</p>
  <input type="checkbox" id="group_stages" name="group_stages" value="group_stages" checked>
  <label for="not_predicted">Group Stages</label><br>
  <input type="checkbox" id="round_of_16" name="round_of_16" value="round_of_16" checked>
  <label for="round_of_16">Round of 16</label><br>
  <input type="checkbox" id="quarter_finals" name="quarter_finals" value="quarter_finals" checked>
  <label for="quarter_finals">Quarter Finals</label><br>
  <input type="checkbox" id="semi_finals" name="semi_finals" value="semi_finals" checked>
  <label for="semi_finals">Semi Finals</label><br>
  <input type="checkbox" id="3_4_play_off" name="3_4_play_off" value="3_4_play_off" checked>
  <label for="3_4_play_off">Third and Fourth Place Playoff</label><br>
  <input type="checkbox" id="final" name="final" value="final" checked>
  <label for="final">Final</label><br>
 
  <button type="submit">Search matches</button>
<form>