<h1>Create a new account</h1>
<form method="post" action="/users/signup">
  <div>
    <label for="new_user_name"> Enter your user name (this will be the name that is displayed):
      <input name="new_user_name" id="new_user_name" value="<%== params[:new_user_name] %>"/>
    </label>
  </div>
  <div>
    <label for="new_email"> Enter your email address:
      <input type = "email" name="new_email" id="new_email" value="<%== params[:new_email] %>"/>
    </label>
  </div>
  <div>
    <label for="new_pword"> Enter a password:
      <input type="password" id="new_pword" name="new_pword" />
    </label>
  </div>
  <div>
    <label for="reenter_pword"> Reenter password:
      <input type="password" id="reenter_pword" name="reenter_pword" />
    </label>
  </div>
  <div>
    <label for="remember_me>"> Remember me:
      <input type="checkbox" id="remember_me" name="remember_me">
    </label>
  </div>
  <button type="submit">Sign Up</button>
</form>