<h1>Sign in</h1>
<form method="post" action="/users/signin">
  <div>
    <label for="login"> Username or email address:
      <input name="login" id="login" value="<%== params[:user_name] %>"/>
    </label>
  </div>
  <div>
    <label for="pword"> Password:
      <input type="password" id="pword" name="pword" />
    </label>
  </div>
  <div>
    <label for="remember_me>"> Remember me:
      <input type="checkbox" id="remember_me" name="remember_me">
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>
