<h1>Sign in</h1>
<form method="post" action="/users/signin">
  <div>
    <label for="user_name"> Username:
      <input name="user_name" id="user_name" value="<%= params[:user_name] %>"/>
    </label>
  </div>
  <div>
    <label for="password"> Password:
      <input type="password" id="password" name="password" />
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>
